<div class="container">
    <mat-toolbar style="margin-top: 10px;">
        <span>Edicion de pelicula</span>
      </mat-toolbar>
      <mat-card style="margin-top: 10px;">
        <form [formGroup]="checkoutForm" (ngSubmit)="crear()">
            <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Portada</mat-label>
                        <input matInput formControlName="portada">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Estreno</mat-label>
                        <input matInput formControlName="estreno">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Director</mat-label>
                        <input matInput formControlName="director">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Sinopsis</mat-label>
                        <input matInput formControlName="sinopsis">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Genero</mat-label>
                        <input matInput formControlName="genero">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Duracion</mat-label>
                        <input matInput formControlName="duración">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Trailer</mat-label>
                        <input matInput formControlName="trailer">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button type="submit" [disabled]="checkoutForm.invalid" mat-raised-button color="primary">Guardar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>