<main class="container-fluid">
    <!--login form with username an password-->
    <form [formGroup]="checkoutForm" class="form-signin" (ngSubmit)="crear()">
        <h2 class="form-signin-heading">Registrar Pelicula</h2>
        <label for="nombre" class="sr-only">Nombre</label>
        <input type="text" id="nombre" class="form-control" placeholder="Nombre" required autofocus formControlName="nombre"  name="nombre">
        
        <label for="portada" class="sr-only">Portada</label>
        <input type="text" id="portada" class="form-control" placeholder="Portada" required formControlName="portada"  name="portada">
        
        <label for="estreno" class="sr-only">Estreno</label>
        <input type="text" id="estreno" class="form-control" placeholder="Estreno" required formControlName="estreno"  name="estreno">
        
        <label for="director" class="sr-only">Director</label>
        <input type="text" id="director" class="form-control" placeholder="Director" required formControlName="director"  name="director">
        
        <label for="sinopsis" class="sr-only">Sinopsis</label>
        <input type="text" id="sinopsis" class="form-control" placeholder="Sinopsis" required formControlName="sinopsis"  name="sinopsis">
       
        <label for="genero" class="sr-only">Genero</label>
        <input type="text" id="genero" class="form-control" placeholder="Genero" required formControlName="genero"  name="genero">
        
        <label for="duración" class="sr-only">Duración</label>
        <input type="text" id="duración" class="form-control" placeholder="Duración" required formControlName="duración"  name="duración">
        
        <label for="trailer" class="sr-only">Trailer</label>
        <input type="text" id="trailer" class="form-control" placeholder="Trailer" required formControlName="trailer"  name="trailer">

        <button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>
    </form>
</main>