<mat-grid-list cols="2" rowHeight="100vh">
  <div class="container">
    <mat-grid-tile>
      <div class="image-container">
        <img
          [src]="pelicula.portada"
          [alt]="pelicula.nombre"
          class="img-fluid"
        />
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="pelicula-info">
        <h1 class="pelicula-titulo">{{ pelicula.nombre }}</h1>
        <p><b>Fecha de estreno: </b> {{ pelicula.estreno }}</p>
        <p><b>Duración: </b> {{ pelicula["duración"] }}</p>
        <p><b>Director: </b> {{ pelicula.director }}</p>
        <p><b>Genero: </b> {{ pelicula.genero }}</p>
        <p><b>Sinopsis: </b> {{ pelicula.sinopsis }}</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <div class="pelicula-trailer">
        <h2 style="width: 100%; text-align: center;margin-top: 20px;">Trailer</h2>
        <iframe
          [src]="safeSrc"
          name="iframe1"
          frameborder="0"
          scrolling="no"
          allowFullscreen
        ></iframe>
      </div>
    </mat-grid-tile>
  </div>
</mat-grid-list>
