<div class="container">
        <mat-toolbar style="margin-top:20px;">
            <span>Inicio de sesion</span>
        </mat-toolbar>
        <mat-card style="margin-top: 20px;" >
        <form [formGroup]="checkoutForm" (ngSubmit)="login()">
            <mat-grid-list cols="2" rowHeight="70px">
                <mat-grid-tile [colspan]="2" [rowspan]="2">
                    <img src="./assets/img/logo.svg" alt="logo">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Usuario</mat-label>
                        <input matInput formControlName="usuario">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Contraseña</mat-label>
                        <input matInput type="password" formControlName="contraseña">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <button type="submit"  mat-raised-button color="primary" class="ancho">Login</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>